.button-container{
    color: white;
    max-width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 15px 23px;
    font-weight: 700;
font-size: 13px;
line-height: 18px;

/* identical to box height */
letter-spacing: 1px;
text-transform: uppercase;

color: #FFFFFF;
}

.buttonorange{
    background-color: #D87D4A;
}
.buttonblack{
    background-color: black;
}
.buttonclear{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}