.button-container{
    color: white;
    max-width: 160px;
    height: 48px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.buttonorange{
    background-color: #D87D4A;
}
.buttonblack{
    background-color: black;
}
.buttonclear{
    background-color: transparent;
    border: 1px solid black;
    color: black;
}
a{
    text-decoration: none;
    color: black;
}