.audiotext-container {
    margin: 120px 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    &__box {
        width: 100%;
        max-width: 327px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
    }

    &__img {
        position: relative;
        border-radius: 12px;
        width: 100%;
        height: 300px;
        & img{
            border-radius: 12px;
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    &__text {
        width: 100%;
        text-align: center;


        & .audiotext-header {
            margin-top: 40px;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 38px;
            text-align: center;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: #000000;
            & span{
                color: #D87D4A;
            }
        }

        & .audiotext-body {
            margin-top: 32px;

            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            /* or 167% */
            
            text-align: center;
            
            color: #000000;
            
            mix-blend-mode: normal;
            opacity: 0.5;
        }
    }
}
@media only screen and (min-width: 426px) {
    .audiotext-container {
    
        &__box {
            width: 100%;
            max-width: 689px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            border-radius: 12px;
        }
    
        &__img {
            position: relative;
            border-radius: 12px;
            width: 100%;
            height: 300px;
            & img{
                border-radius: 12px;
                object-fit: cover;
                width: 100%;
                max-height: 100%;
            }
        }
    
        &__text {
            width: 100%;
            text-align: center;
    
    
            & .audiotext-header {
                margin-top: 40px;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 38px;
                text-align: center;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                & span{
                    color: #D87D4A;
                }
            }
    
            & .audiotext-body {
                margin-top: 32px;
    
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                /* or 167% */
                
                text-align: center;
                
                color: #000000;
                
                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }
    }
}

@media only screen and (min-width: 1077px) {
    .audiotext-container {
    
        &__box {
            width: 100%;
            max-width: 1110px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row-reverse;
            border-radius: 12px;
        }
    
        &__img {
            position: relative;
            border-radius: 12px;
            width: 100%;
            max-width: 540px;
            height: 588px;
            & img{
                border-radius: 12px;
                object-fit: cover;
                width: 100%;
                max-height: 100%;
            }
        }
    
        &__text {
            width: 100%;
            max-width: 445px;
            text-align: left;
    
    
            & .audiotext-header {
                margin-top: 40px;
                font-style: normal;
                font-weight: bold;
                font-size: 28px;
                line-height: 38px;
                text-align: left;
                letter-spacing: 1px;
                text-transform: uppercase;
                color: #000000;
                & span{
                    color: #D87D4A;
                }
            }
    
            & .audiotext-body {
                margin-top: 32px;
    
                font-style: normal;
                font-weight: 500;
                font-size: 15px;
                line-height: 25px;
                /* or 167% */
                
                text-align: left;
                
                color: #000000;
                
                mix-blend-mode: normal;
                opacity: 0.5;
            }
        }
    }
}