.footer-container {
  padding: 0 20px 0 20px;
  max-width: 375px;
  min-width: 320px;
  height: 100%;
  background: black;

  &__box {
    width: 100%;
    background: black;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 12px;

  }

  &__text {
    width: 100%;
    text-align: center;

    & .footer-header {
      font-size: 24px;
      font-weight: bold;
      color: white;
      margin-top: 52px;
      
    }

    & .footer-links {
      font-style: normal;
      font-weight: bold;
      font-size: 13px;
      line-height: 25px;
      /* identical to box height, or 192% */

      letter-spacing: 2px;
      text-transform: uppercase;

      color: #FFFFFF;
      margin: 48px 0;

      & p{
        margin-top: 16px;
      }
    }

    & .footer-body {
      margin-top: 32px;

      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */

      text-align: center;

      color: white;

      mix-blend-mode: normal;
      opacity: 0.5;
    }
    & .footer-copy {
      margin-top: 32px;
      margin-bottom: 48px;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 25px;
      /* or 167% */

      text-align: center;

      color: white;

      mix-blend-mode: normal;
      opacity: 0.5;
    }
    & .footer-socials{
      display: flex;
      justify-content: space-evenly;
      margin-bottom: 52px;
    }
  }
}