.home-cont {
    position: relative;
    width: 100%;
    .mobile-image {
        position: relative;
        height: 100vh;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }
    .tablet-image {
        position: relative;
        height: 100vh;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }
    .desktop-image {
        position: relative;
        height: 100vh;

        img {
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    &__text {
        position: absolute;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 50%;
        bottom: 50%;
        display: flex;
        width: 100%;
        max-width: 328px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        z-index: 2;


        h1 {
            margin-bottom: 16px;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            letter-spacing: 10px;
            text-transform: uppercase;

            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.5;
        }

        h2 {
            margin-bottom: 24px;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;

            /* or 111% */
            text-align: center;
            letter-spacing: 1.28571px;
            text-transform: uppercase;

            color: #FFFFFF;
        }

        p {

            font-weight: 500;
            font-size: 15px;
            line-height: 25px;

            /* or 167% */
            text-align: center;

            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.75;
        }

        .button-container {
            margin-top: 28px;
        }
    }
}




@media only screen and (min-width: 1077px) {
    .home-cont {
        position: relative;
        width: 100%;
        &__text {
            position: absolute;
            left: 165px;
            top: 225px;
            bottom: 158px;
            display: block;
            width: 100%;
            max-width: 400px;
            text-align:  left;
            z-index: 2;
            margin: 0;
    
    
            h1 {
                margin-bottom: 24px;
                text-align: left;
                
      
            }
    
            h2 {
                margin-bottom: 24px;
                font-size: 56px;
                line-height: 58px;
                
                /* or 104% */
                letter-spacing: 2px;
                text-align: left;
                width: 396px;
            
            }
    
            p {
    
                width: 349px;
                text-align: left;
            }
    
            .button-container {
                margin-top: 28px;
                
            }
        }
    }
    
    

}
