.homeproduct-container {
    height: 100%;
    width: 100%;
    margin-top: 80px;
    display: flex;
    justify-content: center;
	

    &__box {
        width: 100%;
        max-width: 327px;
        height: 600px;
        background: #D87D4A;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
        padding: 20px;
        overflow: hidden;
    }

    &__img {
        position: relative;
        width: 172.25px;
        height: 207px;
        & img{
            object-fit: cover;
            width: 100%;
            max-height: 100%;
        }
    }

    &__text {
        width: 100%;
        text-align: center;
        max-width: 349px;

        & .homeproduct-header {
            margin-top: 32px;
            font-weight: 700;
            font-size: 36px;
            line-height: 40px;
            
            /* or 111% */
            text-align: center;
            letter-spacing: 1.28571px;
            text-transform: uppercase;
            
            color: #FFFFFF;
        }

        & .homeproduct-body {
            margin-top: 24px;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            
            /* or 167% */
            text-align: center;
            
            color: #FFFFFF;
            
            mix-blend-mode: normal;
            opacity: 0.75;
        }

        .button-container{
            
            margin: 0 auto;
            margin-top: 24px;
      
        }
    }
}

.twohomeproduct-container{
    height: 100%;
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
	overflow: hidden;

    &__box {
        width: 100%;
        max-width: 327px;
        height: 320px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
    }

    &__img {
        position: relative;
        width: 327px;
        height: 320px;
        border-radius: 12px;

        & img{
            border-radius: 12px;
            object-fit: contain;
            width: 100%;
            max-height: 100%;
        }
    }

    &__text {
        width: 100%;
        position: absolute;
        left: 24px;
        overflow: hidden;

        & .button-container{
            margin: 0;
        }        

        & .twohomeproduct-header {
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 38px;
            letter-spacing: 2px;
            text-transform: uppercase;
            text-align: left;
            overflow: hidden;

        }

        & .twohomeproduct-body {
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 25px;
            /* or 167% */
            padding: 20px;
            text-align: center;
            overflow: hidden;


            color: #FFFFFF;

            mix-blend-mode: normal;
            opacity: 0.75;
        }
    }
}

.threehomeproduct-container {
    height: 100%;
    width: 100%;
    margin-top: 24px;
    display: flex;
    justify-content: center;
	overflow: hidden;

    &__box {
        width: 100%;
        max-width: 327px;
        height: 427px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 12px;
    }


    &__img {
        position: absolute;
        top: 0;
        width: 100%;
        height: 200px;
        border-radius: 12px;
        & img{
            border-radius: 12px;
            object-fit: cover;
            width: 100%;
            max-height: 100%;

        }
    }

    &__text {
        width: 100%;
        position: absolute;
        bottom: 0px;
        border-radius: 12px;
        height: 200px;
        text-align: center;
        background: #F1F1F1;
        & .button-container{
            margin: 0 24px;
        } 
        
& .threehomeproduct-header {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-top: 41px;
    color: #000000;
    text-align: left;
    margin: 0 24px;
    margin-top: 41px;


}

     
    }
}


@media only screen and (min-width: 426px) {
    .homeproduct-container {
        &__box {
            width: 100%;
            max-width: 689px;
            height: 720px;
            padding: 20px;
        }
    
        &__img {
            position: relative;
            width: 200px;
            height: 240px;
            & img{
                object-fit: cover;
                width: 100%;
                max-height: 100%;
            }
        }
    
        &__text {
            & .homeproduct-header {
                margin-top: 64px;
                font-size: 56px;
line-height: 58px;
                
         
                letter-spacing: 2px;
             
            }
   
        }
    }
    
    .twohomeproduct-container{
  
        margin-top: 32px;
  
    
        &__box {
       
            max-width: 689px;
            height: 320px;
        
        }
    
        &__img {
       
            width: 689px;
     
        }
    
        &__text {
      
            left: 62px;

        }
    }
    
    .threehomeproduct-container {
       
        margin-top: 32px;
    
        &__box {
            width: 100%;
            max-width: 689px;
            height: 320px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border-radius: 12px;
        }
    
    
        &__img {
            position: relative;
            width: 100%;
            max-width: 339px;
            height: 320px;
            border-radius: 12px;
            & img{
                border-radius: 12px;
                object-fit: cover;
                width: 100%;
                max-height: 100%;
    
            }
        }
    
        &__text {
            width: 100%;
            max-width: 339px;
            position: relative;
            height: 320px;

            & .threehomeproduct-header {
        
                margin: 0 41px;
                margin-top: 101px;
            
         
            }
            .button-container{
                margin: 0 41px;
                margin-top: 32px;
            }
        }
    }
}


@media only screen and (min-width: 1077px) {
    .homeproduct-container {
        overflow: visible;
        &__box {
            width: 100%;
            max-width: 1110px;
            height: 560px;
            padding: 20px;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            flex-direction: row;

        }
    
        &__img {
            position: relative;
            width: 410px;
            height: 500px;
            transform: translateY(40px);
            & img{
                object-fit: cover;
                width: 100%;
                max-height: 100%;
                
            }
        }
    
        &__text {
            
        
            & .homeproduct-header {
                margin-top: 64px;
                font-size: 56px;
                line-height: 58px;
                letter-spacing: 2px;
                text-align: left;
             
            }

            .homeproduct-body{
                font-weight: 500;
font-size: 15px;
line-height: 25px;
text-align: left;
            }

            .button-container{
            
                margin: 0 ;
                margin-top: 24px;
          
            }
   
        }
    }
    
    .twohomeproduct-container{
  
        margin-top: 48px;
  
    
        &__box {
       
            max-width: 1110px;
            height: 320px;
        
        }
    
        &__img {
       
            width: 1110px;
     
        }
    
        &__text {
      
            left: 95px;

        }
    }
    
    .threehomeproduct-container {
       
        margin-top: 48px;
    
        &__box {
            width: 100%;
            max-width: 1110px;
            height: 320px;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-direction: row;
            border-radius: 12px;
        }
    
    
        &__img {
            position: relative;
            width: 100%;
            max-width: 540px;
            height: 320px;
            border-radius: 12px;
            & img{
                border-radius: 12px;
                object-fit: cover;
                width: 100%;
                max-height: 100%;
    
            }
        }
    
        &__text {
            width: 100%;
            max-width: 540px;
            position: relative;
            height: 320px;

            & .threehomeproduct-header {
        
                margin: 0 95px;
                margin-top: 101px;
            
         
            }

            .button-container{
                margin: 0 95px;
                margin-top: 32px;
            }
        }
    }
}
