.mobile-menu{
    position: fixed;
    width: 100%;
    height: 400px;
    overflow: scroll;
    background-color: white;
    top: -100%;
    left: 0;
    color: black;
    transition: .3s ease-in-out;
}

.mobile-active{
    top: 9%;
}