.mobile-menu{
    position: absolute;
    width: 100%;
    height: fit-content;
  
    background-color: rgb(252, 252, 252);
    top: -2000%;
    left: 0;
    color: black;
    transition: .5s ease-in-out;
}

.mobile-active{
    top: 100%;
}

@media only screen and (min-width: 769px) {
    .menu{
        display: none;
    }
    .mobile-menu{
        display: none;
        transition: 0s;
    }
    .mobile-active{
        display: none;
        visibility: hidden;
        top: -2000%;
    }
    
}
