.top-header{
    background: black;
    display: flex;
    position: relative;
    width: 100%;
    height: 70px;
    justify-content: space-around;
    align-items: center;
    color: white;
    z-index: 98;
    transition: background .3s ease-in-out;
	

    & .logo{
        font-size: 24px;
        font-weight: bold;
        & a{
            color: white;
        }
    }
}

@media only screen and (min-width: 769px) {
    .top-header{
        background: black;
        display: flex;
        position: relative;
        width: 100%;
        height: 70px;
        justify-content: space-around;
        align-items: center;
        color: white;
        transition: background .3s ease-in-out;
    
        .logo{
            font-size: 24px;
            font-weight: bold;
            text-align: left;
           
        }
    & a{
        color: white;
    }

    & ul{
        width: 100%;
        max-width: 800px;
        display: flex;
        justify-content: center;
         
        & li{
            margin-right: 34px;
        }
        & li:hover{
            color: #D87D4A;
            ;
        }

    }
        & .logo{
            font-size: 24px;
            font-weight: bold;
            margin-left: -100px;

            & a{
                color: white;
            }
        }
    }
}