.header{
    width: 100%;
    min-height: 70px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    color: white;
}

.top-header{
    display: flex;
    background-color: black;
    position: absolute;
    width: 100%;
    min-height: 70px;
    justify-content: space-around;
    align-items: center;
    color: white;
    transition: background .3s ease-in-out;
    z-index: 6;
    & .logo{
        font-size: 24px;
        font-weight: bold;
        & a{
            color: white;
        }
    }

    .nav-links{
        color: white;
        display: none;
    }
}
@media only screen and (min-width: 426px) {
    .top-header{
        justify-content: space-around;
        
    }
}

@media only screen and (min-width: 1077px) {
    .top-header{
        display: flex;
        position: relative;
        width: 100%;
        max-width: 1110px;
        min-height: 70px;
        justify-content: space-between;
        align-items: center;
        color: white;
        transition: background .3s ease-in-out;
        z-index: 6;
        & .logo{
            font-size: 24px;
            font-weight: bold;
            & a{
                color: white;
            }
        }

        .nav-links{
            color: white;
            display: block;
            width: 100%;
            max-width: 429px;

            ul{
                display: flex;
                justify-content: space-between;
                li{
                    font-size: 13px;
line-height: 25px;

/* identical to box height, or 192% */
letter-spacing: 2px;
text-transform: uppercase;

color: #FFFFFF;

&:hover{
    color: #D87D4A;
}
                }
            }
        }
    }
}