@use 'reset';
@use'../components/layout/header/header.scss';
@use '../components/layout/footer/footer.scss';
@use '../components/layout/mobilemenu/mobilemenu.scss';
@use '../components/ui/category/category.scss';
@use '../components/home/home.scss';
@use '../components/ui/button/button.scss';
@use '../components/home/homeproducts/homeproduct.scss';
@use '../components/ui/audiotext/audiotext.scss';
@use './categorytype.scss';
@use './singleproduct.scss';
@use './checkout.scss';
@use '../components/ui/cart/cart.scss';
@use '../components/ui/summarybasket/summary.scss';


.mobile-image{
    display: block;
}
.tablet-image{
    display: none;
}
.desktop-image{
    display: none;
}
@media only screen and (min-width: 376px) {
.mobile-image{
    display: none;
}
.tablet-image{
    display: block;
}
}

@media only screen and (min-width: 769px) {
    .mobile-image{
        display: none;
    }
    .tablet-image{
        display: none;
    }
    .desktop-image{
        display: block;
    }
    }